#en-tete {
    color: blue;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
}

.texte-italique {
    font-style: italic;
}

.gras {
    font-weight: bold;
}

.code {
    border: 2px dashed black;
}

.indice {
    vertical-align: sub;
    font-size: smaller;
}
